* {
    color: black; 
    background-color: #F7EDF0;
}

body, html {
    display:grid;
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    height: 100%; /*does not work*/
    margin: 0;
    margin-right: 0.09cm;
    overflow-y:scroll;
    font-size: 20px; /* added due to reading diffuclty */
}

/* for navigation of sites */
#navbar {
    display: flex;
    position: fixed;
    justify-content:space-around;
    text-align: center;
    padding: 18px 8px;
    width: calc(100% - 16px);
    font-size: 30px;
    /* border-style: solid; */
    border-bottom: inset;
    background-color: #7F7B82;
    border-color: #171718;
}

.logo {
    display: flex;
    position: static;
    text-align: left;
    justify-items: left;
    color: #FCD3DE;
    /* width: 20%; */
    text-shadow: 0 0 5px #fff,
    0 0 10px #08803c,
    0 0 20px #F0C0F5,
    0 0 30px #F0C0F5,
    0 0 40px #F0C0F5,
    0 0 55px #F0C0F5,
    0 0 70px #F0C0F5;
}

@media (max-width:400px) {
    .logo {
        display: none;
    }
}
/* navbar dropdown */

.dropdown {
    position: relative;
    background-color: inherit;
}

.dropdown .content{
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown:hover .content {
    display: block;
    background-color: hsla(0, 0%, 62%, 0.63);
    border-radius: 5px;
    border-style: outset;
    border-color: #FCD3DE;
    padding: 2px 8px;
    text-shadow: 0 0 5px #fff,
    0 0 10px #9834a5,
    0 0 20px #F0C0F5,
    0 0 30px #F0C0F5,
    0 0 40px #F0C0F5,
    0 0 55px #F0C0F5,
    0 0 70px #F0C0F5;
}
/* darkmode implement */
button {
    background-color: #171718;
    cursor: pointer;
    width:35px;
    color: #F7EDF0;
}

/* links */
a {
    /* display: block; */
    text-decoration: none;
    background-color: inherit;
}

a:hover {
    color: #454545;
    text-shadow: 1px 0px #171718;
}

a:active {
    color: #F0C0F5;
}

/* content delivery*/
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 650;
    height: 343.13px;
    border: 5px inset #F0C0F5;
    border-radius: 12px;
}

/* img:hover {
    width: 33%;
} */

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px 20px;
    align-content: center;
    margin-top: 40px;
}

/* .container p {
    padding: 20px;
    margin: 8px;
} */

/* im trying to get footer work here, theres an unused footer class in html */
footer {
    border: 2px double #454545;
    background-color: #7F7B82;
    text-align: center;
    padding: 2px 2px;
    width: 100%;
    margin-top: 8px; /* moves the footer away from content*/
}

